@require '~vuepress-plugin-tabs/dist/themes/default.styl'

.theme-container.home-page {
  .hero {
      .logo {
        width: 350px
      }
      .description {
        font-size: 1.3em
      }
      .extraImage {
        margin 0rem auto 1.5rem
        }
    }
}

.sidebar-mask
  margin-top: 4rem

.sidebar-button
  margin-top: 2.3rem // added 2rem for sidebar

.sidebar
  background-color: #F4F5F4
  width: 17rem
  top: 5.5rem // Added 2rem to take into account the top banner

.theme-container.dev-home
  .theme-default-content:not(.custom)
        margin 0 0
        max-width 90%

.theme-container
  .theme-default-content:not(.custom)
    padding-top 4.5rem


.page-edit
  max-width 90%

.page-nav
  max-width 90%

h1
  font-size: 2.1rem

.tabs-component
  div[class*='language-']
    margin 0
  .tabs-component-tabs
    border none
    align-items stretch
    display flex
    justify-content flex-start
    margin-bottom -1px
    .is-active
      border-bottom solid 1px #fff
      z-index 2
      transform translateY(0)
  .tabs-component-tab
    background-color #fff
    border solid 1px #ddd
    border-radius 3px 3px 0 0
    margin-right 0.25em
    transition transform 0.3s ease
  .tabs-component-panels
    border-top-left-radius 0
    background-color #fff
    border solid 1px #ddd
    border-radius 0 6px 6px 6px
    box-shadow 0 0 10px rgba(0, 0, 0, 0.05)
    padding 1em 1em

.page
  div.polaroid
    display: block;
    border 1px solid lightgray
    margin-bottom: 2rem

  img
    display: block;
    margin-left: auto
    margin-right: auto

  div.container
    border-top: 1px solid lightgray
    text-align: center;
    font-weight: 700
    font-size: 0.85rem
    padding: 0.5rem;
    background-color: #ececec
    p
      margin 0

.page
  .quote
    position: relative
    padding-left: 1em
    border-left: 0.2em solid lighten($accentColor, 0%)
    font-size: 1.8rem
    line-height: 2.8rem
    font-weight: 100
  &:before, &:after
      content: '\201C'
      font-family: 'Sanchez'
      color: lighten(black, 40%)
   &:after
      content: '\201D'

